/* Add screen styles below */
a.active {
    font-weight: bold;
}

body { 
    background: #e3e1e1;
    font-family: Helvetica, sans-serif;
    margin: 0;
    border-top: 20px solid #50a8eb
}

h1 {
    text-align: center; 
}

p {
    text-align: center; 
}

h2 { 
    text-align: center; 
    text-decoration: underline;
}

.links {
   position: -webkit-sticky;
   position: sticky;
   text-align: center;
   padding-bottom: 10px;
   top: 0;
}

.content {
    display: flex;
    padding: 20px;
    margin: 20px;
    gap: 20px;
}

.content article {
    flex-grow: 1;
    flex-basis: 0;
    background-color: rgb(80 168 235 / 0.5);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-top: 10px;
}

.byline { 
    text-align: center
}

.content article p{
    margin: 20px;
    line-height: 1.4em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-top: 10px;
}

.details {
    flex-grow: 1;
    flex-basis: 0;
    background-color: rgb(80 168 235 / 0.5);
    border-radius: 20px;
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-container {
    float: left;
    margin: 10px;
    padding-bottom: 55px;
}

.details section p {
    margin: 20px;
    line-height: 1.4em;
}

.contact-form { 
    flex-grow: 1;
    flex-basis: 0;
    background-color: rgb(80 168 235 / 0.5);
    border-radius: 20px;
    width: 500px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 2.5em; 
}


