/* Add screen styles below */
a.active {
    font-weight: bold;
}

body { 
    background: #e3e1e1;
    font-family: Helvetica, sans-serif;
    margin: 0;
    border-top: 50px solid #50a8eb
}

div.links {
    text-align: right;
}

h1 { 
    padding-bottom: 50px;
}